:host {
    width: 100%;
}

.forecast-container {
    width: 100%;
    gap: 0.5rem;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
}

mat-card-title.mat-card-title {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
}

mat-card-content.mat-card-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem 0;
}

.tile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
